/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
	/* colors */
	--color-alpha-10-light: #f0f0f7;
	--color-alpha-light: #a5a4bf;
	--color-alpha: #a3a0fb;
	--color-alpha-dark: #0e2338;
	--color-alpha-10-dark: #0d0d0d;

	--color-neutral-light: white;

	--global-neutral-20-dark: #212634;
	--global-neutral-10-dark: #2b2e3f;
	--global-neutral-5-dark: #444455;
	--global-neutral-dark: #757586;
	--global-neutral-color: #d2d3da;
	--global-neutral-light: #fdfdfd;

	/* border radius */
	--root-radius: 5px;

	/* transitions */
	--transition: all 0.2s ease;

	/* font-sizes*/
	--root-font-size: 4px;

	--light: 300;
	--regular: 400;
	--medium: 500;
	--bold: 700;

	/* whitespace */
	--global-baseline: 4px;
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	color: #a5d0e1;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--color-alpha-dark);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
	max-width: 100%;
	vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
	font-weight: var(--bold);
}

h1 {
	font-size: calc(var(--root-font-size) * 9);
	line-height: calc(var(--root-font-size) * 12);
	margin: 0 0 calc( var(--global-baseline) * 6);
}

h3 {
	font-size: calc(var(--root-font-size) * 6.5);
	line-height: calc(var(--root-font-size) * 8);
	margin: 0 0 calc( var(--global-baseline) * 6);
}

p,
ol,
ul,
dl,
table,
address,
figure {
	margin: 0 0 calc( var(--global-baseline) * 6);
}

ul,
ol {
	padding-left: calc( var(--global-baseline) * 6);
}

li ul,
li ol {
	margin-bottom: 0;
}

label,
input {
	display: block;
}

select {
	width: 100%;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.c-app {
	justify-content: center;
	align-content: center;
	justify-items: center;
}

.c-app__selector {
	margin-top: calc( var(--global-baseline) * 4);
	align-self: start;
	justify-self: center;
}

.c-app__location-label {
	font-weight: var(--medium);
	font-size: calc(var(--root-font-size) * 9);
}

.c-app_latlong {
	margin-top: 16px;
	font-weight: var(--regular);
	font-size: calc(var(--root-font-size) * 4.5);
}

.c-label-v {
	font-size: calc(var(--root-font-size) * 6.5);
	line-height: calc(var(--root-font-size) * 8);
	margin: 0 0 calc( var(--global-baseline) * 6);
}

/*
  landingpage
*/

.c-landing__kop {
	text-align: center;
}

.c-landing__tekst {
	margin-top: calc( var(--global-baseline) * 6);
	border: none;
	background-color: var(--color-alpha-10-dark);
	padding: calc( var(--global-baseline) * 5);
	border-radius: 24px;
	margin-bottom: calc( var(--global-baseline) * 6);
	text-align: justify;
}

.c-landing__sign-up {
	font-weight: var(--bold);
	text-align: left;
}

.c-landing__subtitle {
	text-align: justify;
	font-weight: var(--bold);
}

.c-landing__mock-up {
	justify-content: center;
	align-content: center;
}

.c-landing__img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.c-landing__form {
	display: flex;
	justify-content: center;
	align-items: center;
}

.c-landing__input {
	display: block;
	margin-left: auto;
	margin-right: auto;
	align-self: center;
	text-align: start;
	padding-top: calc( var(--global-baseline) * 3);
	outline: none;
	width: 100%;
	font-family: inherit;
	font-size: calc(var(--root-font-size) * 4);
	line-height: calc(var(--root-font-size) * 6);
	padding: 11px 16px; /*verticaal 1+11+24+11+1 */
	color: var(--color-alpha-10-dark);
	border: 1px solid #e2e3e7;
	border-radius: 4px;
}

.c-landing__input::placeholder {
	color: #808080;
}

.c-landing__button {
	align-self: end;
	width: 35%;
	padding: 11px 0;
	text-align: center;
	color: #fff;
	font-weight: var(--bold);
	border: 1px solid var(--global-neutral-20-dark);
	border-radius: 10px;
	background: var(--global-neutral-10-dark);
	outline: none;
	transition: all 0.1s ease-out;
	font-size: calc( var(--root-font-size) * 4);
	line-height: calc(var(--root-font-size) * 6);
}

.c-img__vandaag {
	height: 360px;
	width: 360px;
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
*/

@media screen and (min-width: 320px) {
	.c-app {
		display: grid;
		max-width: 90%;
		margin: auto;
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: 70px 40px 60px 380px 40px 40px 1fr;
		justify-content: center;
		align-items: center;
	}

	.c-landing {
		display: grid;
		max-width: 90%;
		margin: auto;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
		justify-content: center;
		align-items: center;
	}

	.c-app__tomorrow {
		padding-top: calc( var(--global-baseline) * 5);
		display: grid;
		grid-template-columns: 120px 1fr 1fr 60px;
		grid-template-rows: 50px 50px 50px 50px 50px;
		background-color: var(--color-alpha-10-dark);
		margin-bottom: 25px;
	}

	.c-label-v {
		font-size: calc( var(--root-font-size) * 4.5);
		line-height: calc(var(--root-font-size) * 4.5);
		text-align: center;
	}

	.c-app__daylabel {
		font-size: calc( var(--root-font-size) * 4.5);
		line-height: calc(var(--root-font-size) * 6);
		font-weight: var(--bold);
	}

	.c-app__tomorrow-label {
		justify-self: start;
		margin-left: calc( var(--global-baseline) * 3);
		align-self: start;
	}

	.c-app__tomorrow-temp1 {
		justify-self: end;
		padding-right: calc( var(--global-baseline) * 1.5);
		margin-top: 3px;
		align-self: start;
		text-align: center;
		border-right: 1px #fff solid;
	}

	.c-app__tomorrow-temp2 {
		justify-self: start;
		padding-left: 5px;
		margin-top: 3px;
		text-align: center;
		align-self: start;
	}

	.c-app__tomorrow-voor {
		justify-self: center;
		align-self: start;
		margin-left: -6px;
	}

	.c-app__icon {
		margin-top: -32px;
	}

	.c-img {
		width: 20px;
		height: 20px;
	}
}

@media screen and (min-width: 480px) {
	.c-app {
		max-width: 80%;
	}

	.c-app__tomorrow {
		padding-top: calc( var(--global-baseline) * 5);
		display: grid;
		grid-template-columns: 150px 1fr 1fr 100px;
		grid-template-rows: 50px 50px 50px 50px 50px;
		margin-bottom: 25px;
	}

	.c-app__tomorrow-voor {
		justify-self: end;
		align-self: start;
		margin-right: calc( var(--global-baseline) * 6);
	}

	.c-app__tomorrow-label {
		justify-self: start;
		margin-left: calc( var(--global-baseline) * 6);
		align-self: start;
	}

	.c-label-v {
		font-size: calc( var(--root-font-size) * 5);
		line-height: calc(var(--root-font-size) * 5);
		margin: 0 0;
		text-align: center;
	}

	.c-app__daylabel {
		font-size: calc( var(--root-font-size) * 9);
		line-height: calc(var(--root-font-size) * 6.5);
		font-weight: var(--bold);
	}

	.c-app__tomorrow-temp1 {
		justify-self: end;
		padding-right: 6px;
		margin-top: 3px;
		padding-left: calc( var(--global-baseline) * 2.5);
		align-self: start;
		text-align: center;
		border-right: 1px #fff solid;
	}

	.c-img {
		width: 24px;
		height: 24px;
	}

	.c-landing__img {
		width: 55%;
	}

	.u-border-line {
		width: 30% !important;
	}
}

@media screen and (min-width: 768px) {
	.c-app {
		max-width: 70%;
	}

	.c-app__tomorrow {
		padding-top: 20px;
		display: grid;
		grid-template-columns: 190px 1fr 1fr 130px;
		grid-template-rows: 50px 50px 50px 50px 50px;
		margin-bottom: 25px;
	}

	.c-landing {
		display: grid;
		max-width: 95%;
		margin: auto;
		grid-template-columns: 550px 1fr;
	}

	.c-landing__img {
		margin-top: calc( var(--global-baseline) * 6);
		width: 50%;
		max-height: 470px;
		margin-top: -4px;
	}

	.c-app__tomorrow-temp1 {
		justify-self: end;
		padding-right: calc( var(--global-baseline) * 3);
		margin-top: 3px;
		padding-left: calc( var(--global-baseline) * 5);
		align-self: start;
		text-align: center;
		border-right: 1px #fff solid;
	}

	.c-label-v {
		font-size: calc( var(--root-font-size) * 6);
		line-height: calc(var(--root-font-size) * 6);
		margin: 0 0;
		text-align: center;
	}

	.c-app__daylabel {
		font-size: calc( var(--root-font-size) * 6);
		line-height: calc(var(--root-font-size) * 7.5);
		font-weight: var(--bold);
	}

	.c-app__tomorrow-temp2 {
		justify-self: start;
		padding-left: 11px;
		margin-top: 3px;
		text-align: center;
		align-self: start;
	}

	.c-img {
		width: 30px;
		height: 30px;
	}

	.u-border-line {
		width: 25% !important;
	}
}

@media screen and (min-width: 1024px) {
	.c-app {
		max-width: 60%;
	}

	.c-landing__img {
		margin-top: -4px;
		width: 240px;
		margin-left: 24px;
		max-height: 470px;
	}

	.c-landing {
		display: grid;
		max-width: 65%;
		margin: auto;
		grid-template-columns: 500px 1fr;
	}

	.u-border-line {
		width: 20% !important;
	}
}

@media screen and (min-width: 1400px) {
	.c-app {
		max-width: 50%;
	}

	.c-landing__img {
		margin-top: -4px;
		width: 240px;
		max-height: 470px;
		margin-left: 24px;
	}

	.c-landing {
		display: grid;
		max-width: 50%;
		margin: auto;
		grid-template-columns: 500px 1fr;
	}

	.u-border-line {
		width: 20% !important;
	}
}

/*------------------------------------*\
#UTILITIES
\*------------------------------------*/
.u-grid-column-1 {
	grid-column: span 1;
}

.u-grid-column-2 {
	grid-column: span 2;
}

.u-grid-column-3 {
	grid-column: span 3;
}

.u-grid-column-4 {
	grid-column: span 4;
}

.u-grid-column-8 {
	grid-column: span 8;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-border-line {
	margin: auto;
	width: 35%;
	background-color: #a5d0e1;
}

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		/* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: ' (' attr(href) ')';
	}
	abbr[title]:after {
		content: ' (' attr(title) ')';
	}
	/*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre {
		white-space: pre-wrap !important;
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	/*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
}

/*------------------------------------*\
#Buttons
\*------------------------------------*/

.c-info__button-london {
	text-align: center;
}

.c-info__button-brussels {
	text-align: center;
}

.c-info__button-newyork {
	text-align: center;
}

.c-info__button-lasvegas {
	text-align: center;
}

.c-link-cta {
	background: transparent;
	border: 0;
	padding: 0;
	cursor: pointer;
	outline: 0;
	-webkit-appearance: none;
	font-weight: var(--bold);
}

/* Custom */
.c-link-cta {
	display: inline-block;
	position: relative;
	padding: calc(var(--global-baseline) * 2) calc(var(--global-baseline) * 3)
		calc(var(--global-baseline) * 2);
	top: 0;
	background-color: transparent;
	color: var(--global-neutral-dark);
	border-radius: calc(var(--root-radius) * 3);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: var(--transition);
	-moz-transition: var(--transition);
	-ms-transition: var(--transition);
	transition: var(--transition);
}

.c-link-cta:hover {
	top: calc(var(--global-baseline) * -1);
	-webkit-transform: rotateX(20deg);
	-moz-transform: rotateX(20deg);
	-ms-transform: rotateX(20deg);
	transform: rotateX(20deg);
	background-color: var(--global-neutral-5-dark);
	color: var(--global-neutral-color);
	box-shadow: var(--shadow-button);
}

.c-link-cta:active {
	background-color: var(--global-neutral-5-dark);
	color: var(--global-neutral-color);
}

.is-selected {
	background-color: var(--global-neutral-5-dark);
	color: var(--global-neutral-color);
}

/*
Test
*/

.loader-wrapper {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-alpha-dark);
	display: flex;
	justify-content: center;
	align-items: center;
}
.loader {
	display: inline-block;
	width: 30px;
	height: 30px;
	position: relative;
	border: 4px solid #fff;
	animation: loader 2s infinite ease;
}
.loader-inner {
	vertical-align: top;
	display: inline-block;
	width: 100%;
	background-color: #fff;
	animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(180deg);
	}
	50% {
		transform: rotate(180deg);
	}
	75% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes loader-inner {
	0% {
		height: 0%;
	}
	25% {
		height: 0%;
	}
	50% {
		height: 100%;
	}
	75% {
		height: 100%;
	}
	100% {
		height: 0%;
	}
}
